
* {
  box-sizing: border-box;
  margin: 0;
}

html {
  font-family: Arial;
  font-size: 18px;
  padding: 0.5rem;
}

a {
  text-decoration: none;
  color: #AAA;
}
a:hover {
  text-decoration: underline;
  color: #555;
}

h2 {
  text-align: center;
  border-bottom: 1px dashed #CCC;
  padding-bottom: 0.2rem;
  margin-bottom: 0.5rem;
}
h3 {
  margin-bottom: 0.5rem;
}
sup {
  font-size: 0.5em;
  margin-left: 0.5em;
}
input[type=text], select {
  width: 8rem;
}
input[type=radio]:first-child {
  margin-left: 0;
}
input[type=radio] {
  margin: 0 0.5em;
  cursor: pointer;
}
label {
  cursor: pointer;
}

#root {
  display: flex;
  flex-direction: column;
}

.landscape #root {
  flex-direction: row;
}
.landscape h2 {
  writing-mode: sideways-lr;
  text-orientation: sideways;
  text-align: right;
  margin-bottom: 0;
  margin-right: 0.5rem;
  border-right: 1px dashed #CCC;
  border-bottom-width: 0;
}
.landscape .gameStepContainer {
  margin-left: 0.5rem;
  flex-direction: column;
  align-items: flex-start;
}
.landscape .gameStepContainer button {
  margin-top: 0.5rem;
}
.landscape .configuration, .landscape .references {
  margin-left: 0.5rem;
}


.board {
  box-shadow: 0 0 2px 1px #CCC;
  display: inline-block;
}

.tile {
  display: inline-block;
  width: calc(10vmin - 0.1rem);
  height: calc(10vmin - 0.1rem);
  text-align: center;
  vertical-align: top;
  cursor: not-allowed;
  border: 0px solid #EEE;
}
.tileBlack {
  background-color: #555;
}
.tileWhite {
  background-color: #CCC;
}
.tileValid {
  cursor: pointer;
  border-width: 2px;
}
.tileBlack.tileValid {
  background-color: #000;
  border-color: #555;
}
.tileWhite.tileValid {
  background-color: #FFF;
  border-color: #AAA;
}
.tileWhiteQueen.tileValid, .tileBlackQueen.tileValid {
  border: 2px outset orange;
}
.tile.tileSelected {
  border: 3px inset darkseagreen;
}
.tile::before {
  display: inline-block;
  width: 100%;
  height: 100%;
  content: '\00A0';
  background-repeat: no-repeat;
  background-size: 70%;
  background-position: center;
}
.tileWhiteQueen::before {
  background-image: url(/white_queen.png);
}
.tileWhiteBow::before {
  background-image: url(/white_bow.png);
}
.tileWhiteArrow::before {
  background-image: url(/white_arrow.png);
}
.tileBlackQueen::before {
  background-image: url(/black_queen.png);
}
.tileBlackBow::before {
  background-image: url(/black_bow.png);
}
.tileBlackArrow::before {
  background-image: url(/black_arrow.png);
}


.gameStepContainer {
  display: flex;
  align-items: center;
  margin-top: 0.5rem;
}
.gameStep {
  display: inline-block;
  width: 1em;
  height: 1em;
}
.gameStep::before {
  display: inline-block;
  width: 100%;
  height: 100%;
  content: '\00A0';
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: center;
}
.gameStepContainer span {
  margin-left: 0.5em;
  color: gray;
  text-transform: uppercase;
  font-size: 0.7em;
  letter-spacing: -0.05em;
}

.toolbarButton {
  position: relative;
  display: inline-block;
  font-size: 1em;
  padding: 0.2em 0.8em;
  color: white;
  border-radius: 0.2em;
  text-align: center;
  transition: top .01s linear;
  text-shadow: 0 1px 0 rgba(0, 0, 0, 0.15);

  background-color: #333;
  box-shadow: 0 0 0 1px #333 inset,
  0 0 0 2px rgba(255, 255, 255, 0.15) inset,
  0 0.2em 0 0 rgba(21, 21, 21, .7),
  0 0.2em 0 1px rgba(0, 0, 0, .4),
  0 0.2em 0.4em 1px rgba(0, 0, 0, 0.5);
  margin-bottom: 10px;
}
.toolbarButton:hover {
  background-color: #444;
  cursor: pointer;
}
.toolbarButton:active {
  top: 9px;
  box-shadow: 0 0 0 1px #444 inset,
  0 0 0 2px rgba(255,255,255,0.15) inset,
  0 0 0 1px rgba(0,0,0,0.4);
}

.configuration {
  margin-top: 0.5rem;
  padding: 0.5rem 0;
  border-top: 1px dashed gray;
  border-bottom: 1px dashed gray;
}
.configuration table {
  font-size: 0.6em;
}
.configuration tr {
  height: 1.3rem;
}
.computerSelector {
  display: flex;
  align-items: center;
}

.references {
  margin-top: 0.5rem;
}
.references div {
  font-size: 0.7rem;
  color: gray;
}
